.cardBody {
  display: flex;
  gap: 30px;
  margin: 30px 0px 30px 0px;
}

.longCard {
  position: relative;
}
.longCard span {
  position: absolute;
  left: 320px;
  top: 300px;
}

.smallCard {
  position: relative;
}

.smallCard span {
  position: absolute;
  left: 110px;
  top: 300px;
}
